$object: 'main-layout';

.#{$object} {
  margin: 1rem 2rem 0 2rem;
  position: relative;

  display: flex;
  flex-direction: column;

  &__top-section {
    // background-color: $rosePastel;
  }

  &__main-section {
    // background-color: $softOrangePastel;
    margin-top: 5%;
  }
}