$object: 'main-layout';

.#{$object} {
  margin: 1rem 2rem 0 2rem;
  position: relative;
  display: flex;
  flex-direction: column;

  &__main-section {

    .#{$object} {

      &__message {
        margin-top: 2rem;
        margin-left: 2rem;
        text-align: center;
        font-size: 25px;
        
        @include Breakpoint(mediumsmall) {
          font-size: 30px;
        }
      }
    }
    span {
      color: $orangePastelDarkest;
    }

    &--active {
      .#{$object} {
        &__message {
          margin-top: 0;
          position: fixed;
          right: 5%;
          text-align: center;
          font-size: 20px;
          background-color: $orangePastelDarkest;
          color: white;
          padding: 1rem;
          border-radius: 5px;
          z-index: 1;

          box-shadow: 2px 2px 6px #888888;
        }
  
        &__main-container {
          margin: 5rem 2rem 0 2rem;
          
          @include Breakpoint(mediumsmall) {
            margin: 5rem 5rem 0 5rem;
          }

          @include Breakpoint(medium) {
            margin: 5rem 10rem 0 10rem;
          }

          @include Breakpoint(mediumlarge) {
            margin: 5rem 20rem 0 20rem;
          }

          &--grid-of-cards, &--boxes, &--f-shape, &--z-shape {
            @include Breakpoint(mediumlarge) {
              margin: 5rem 10rem 0 10rem;
            }
          }
        }
      }
    }
  }
}