$object: 'my-ad-section';

.#{$object} {

  &__sidenav {
    
    position: absolute;
    top: 20px;
    left: -50px;
    padding: 15px;
    font-size: 20px;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: $orangePastelDarkest;
    width: 140px;
    transition: 0.3s;
    text-align: right;
    box-shadow: 2px 4px 8px #888888;
    cursor: pointer;

    &:hover {
      left:-40px;
    }
    
    span {
      margin: 0;
      padding: 0;
      font-size: 30px;
    }
  }

  &__overlay {
    position: absolute;
    left: -50px;
    width: 0;
    z-index: 1;
    border: 2px solid $orangePastelDarkest;
    background-color: rgb(255, 247, 247);
    overflow-x: hidden;
    transition: 0.4s;
    z-index: 10;
    
    border-radius: 5px;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    &--opened {
      left: -40px;
      width: 100%;
      height: 45rem;
    }
  }
  
  &__overlay-content {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;

    .#{$object} {
      &__content-title {
        margin: 2rem 7rem;
        font-size: 50px;
        font-weight: 900;
        color: rgb(255, 82, 29);
      }

      &__content-layout {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-evenly;
      }
    }
  }
  
  
  &__closebtn {
    cursor: pointer;
    margin-top: 1rem;
    margin-right: 2rem;
    color: $orangePastelDarkest;

  }

}